/* button{
    background-color: red;
    font-size: xx-large;
} */
/* signup page section  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
.text{
    text-align: center;
    margin: 140px 0 50px;
    font-size: 25px;
}
.all{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    input {
        width: 100%;
        padding: 10px 25px;
        border-radius: 20px;
        border: 1px solid gray;
        outline: none;
    }

    label {
        display: block;
        margin-left: 10px;
    }

    button {
        padding: 10px 25px;
        background-color: rgb(47, 47, 121);
        border-radius: 20px;
        outline: none;
        border: transparent;
    }
}